# Binaries
*.dcu
*.bak

# Temporary files
*.tmp
#Controller/bitstream.h

# Directories
FPGA/db/
FPGA/greybox_tmp/
FPGA/incremental_db/
FPGA/output_files/
FPGA/Unused/
Controller/build/
Documentation/
PCB/History/
PCB/__Previews/
PCB/Project Logs for FPGA_AudioMischpult/

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
