# Binaries
*.dcu
*.bak

# Temporary files
*.tmp

# Directories
db/
FPGA_Loader/build/
Documentation/
greybox_tmp/
incremental_db/
output_files/
Rohdateien/
PCB/History/
PCB/__Previews/
PCB/Project Logs for FPGA_AudioMischpult/
Unused/


# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
